PORT=
HOST=
URL=
DB_HOSTNAME=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_gmail_address
SMTP_PASSWORD=your_gmail_password

# usa l'email che dovrà ricevere l'avviso del nuovo ordine ricevuto
ADMIN_EMAIL=admin@example.com